/* --------------------------------------------
    
    main.css : homepage style file
    Project : OxyTechies Portfolio
    Author : Neon 
    
   -------------------------------------------- */
body.homepage {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	color: #fff;
	font-family: 'Jost*', sans-serif;
}
/* Canvas */
canvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -22;
}
/* Logo */
.logo {
	text-align: center;
	text-transform: uppercase;
}
.logo h1 {
	font-size: 3rem;
	font-weight: 300;
	margin-bottom: 0;
	letter-spacing: 2px;
}
.logo h2 {
	position: relative;
	margin-top: 5px;
	font-weight: 200;
	letter-spacing: 8px;
}
/* Copyright */
.copyright {
	position: fixed;
	bottom: 2%;
	left: 5%;
	letter-spacing: 2px;
	opacity: .5;
	font-weight: 100;
}
.social a {
	position: fixed;
	bottom: 5%;
	right: 5%;
	padding: .5rem 1rem;
	width: 50px;
	height: 50px;
	text-align: center;
	color: #fff;
	font-size: 1.3rem;
	transition: all 500ms ease-in-out;
}
.social a::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2px solid #fff;
	transform: rotate(45deg);
	z-index: -1;
	transition: all 500ms ease-in-out;
}
.social a:hover {
	color: #000;
}
.social a:hover::before {
	transform: rotate(120deg);
	border-radius: 50%;
	background: #fff;
}