/* --------------------------------------------
    
    main.css : homepage style file
    Project : OxyTechies Portfolio
    Author : Neon 
    
   -------------------------------------------- */
body.homepage {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	color: #fff;
	font-family: 'Jost*', sans-serif;
}
/* Canvas */
canvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -22;
}
/* Logo */
.logo {
	text-align: center;
	text-transform: uppercase;
}
.logo h1 {
	font-size: 3rem;
	font-weight: 300;
	margin-bottom: 0;
	letter-spacing: 2px;
}
.logo h2 {
	position: relative;
	margin-top: 5px;
	font-weight: 200;
	letter-spacing: 8px;
}
/* Copyright */
.copyright {
	position: fixed;
	bottom: 2%;
	left: 5%;
	letter-spacing: 2px;
	opacity: .5;
	font-weight: 100;
}
.social a {
	position: fixed;
	bottom: 5%;
	right: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	text-align: center;
	color: #fff;
	font-size: 1.3rem;
	transition: all 500ms ease-in-out;
}
.social a::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2px solid #fff;
	transform: rotate(45deg);
	z-index: -1;
	transition: all 500ms ease-in-out;
}
.social a:hover {
	color: #000;
}
.social a:hover::before {
	transform: rotate(120deg);
	border-radius: 50%;
	background: #fff;
}
/* Music Animation */
#play-music {
  display: flex;
  position: absolute;
  top: 30px;
  left:34px; z-index:50;
  opacity: 1;
  padding: 10px;
  transition: opacity 1.5s
}
.home-loaded .play-music {
  opacity: 1; 
}
.music-animation {
  display: flex;
  margin-right: 10px;
  align-items: flex-end;
  position: relative;
  top: -5px;
}
.music-bar{
  width: 1px;
  background-color: #fff;
  height: 2px;
  display: block;
  margin: 0 1px;
}
.music-animation.on .music-bar {animation:bar 1.2s infinite;
}
.music-animation.on .bar2{animation-delay:.1s;
}
.music-animation.on .bar3{animation-delay:.2s;
}
.music-animation.on .bar4{animation-delay:.3s;
}
.music-animation.on .bar5{animation-delay:.4s;
}
.music-toggle{
  position:relative;
}
.music-toggle a,.music-toggle a:hover {
  font-size:10px;
  letter-spacing:1px;
  cursor: pointer;
  text-transform:uppercase;
  color:#fff!important;
}
.music-toggle:after {
  content:"";
  display:block;
  height:1px;
  width:0;
  background-color:#fff;
  position:absolute;
  transition:.2s;
}
.music-toggle:hover:after {
  width:100%;
}
@keyframes bar {
  0% {
    height:4px;
    }
    50% {
      height:14px;
    }
    100% {
      height:4px;
      }
}